* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    width: 50vw;
    margin-left: 25vw;
}

a   {
    margin-bottom: 2rem;
}
