* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: crimson;
}

h2 {
    color: #fff; 
    text-align: center; 
    text-decoration: underline;
    margin-bottom: 2rem;
}

span {
    display: flex;
    justify-content: center;
    color:#FFF;
    font-size: 16px;
    font-family: "Trirong", serif; 
}

