* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: papayawhip;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 40px;
    padding: 1rem;
    border: 2px solid #000;
    background-color: aqua;
    margin: 0 5vw;
    align-content: center;
    text-align: center;
  }

  p {
    width: 15vw;
    height: 15vh;
  }

  .timeEnd {
    display: flex;
    font-size: 40px;
    padding: 1rem;
    border: 2px solid #000;
    background-color: aqua;
    margin: 0 5vw;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  #timeHasEnd {
    display: none;
    width: 100%;
  }
