* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    margin-top: 1rem;
    color: #FFF;
    background-color: crimson;
    font-size: 20px;
    padding: 1rem;
    border: 2px solid #FFF;
}